<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chw.spb.system.dao.DictMapper">
  <resultMap id="BaseResultMap" type="com.chw.spb.system.entity.Dict">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <insert id="insert" parameterType="com.chw.spb.system.entity.Dict">
    insert into dict (ID, LABEL, VALUE, 
      TYPE, DESCRIPTION, SORT, 
      REMARK, DEL_FLAG)
    values (#{id,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chw.spb.system.entity.Dict">
    insert into dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="label != null">
        LABEL,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>